* {
    margin: 0px;
}

body {
    background-image: url(../img/fondo.jpg);
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.Container-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.Container-title h3 {
    color: white;
}

.Container-title h2 {
    color: white;
    font-size: calc(3.325rem + 2vw);
}

#btncv {
    width: 200px;
    align-self: center;
}

.rowbtncv {
    padding: 3em;
}

.img1port {
    width: 300px;
    height: 400px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2port {
    width: 100%;
    height: 70%;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contimg2{
    align-items: center;
}

#btncv {
    padding: 0.8em 1.8em;
    border: 2px solid #913636;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
}

#btncv::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #d73838;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#btncv:hover::before {
    width: 105%;
}

#btncv:hover {
    color: white;
}

.icon img {
    margin: 10px;
}

.container-aboutme {
    margin: 10%;
    padding: 2em 0 1em;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.titabout {
    padding-bottom: 1em;
    color: white;
}

.cont-presentacion {
    width: 97%;
    text-align: justify;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.cont-presentacion p {
    color: white;
}

.contcirculos {
    align-self: center;
}

.exp {
    align-self: center;
    background-color: rgba(146, 4, 4, 0.15);
    height: 100%;
    width: 90%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutsectit {
    padding-top: 10px;
    font-size: small;
    color: white;
}

.aboutsecexp {
    padding-top: 5px;
    font-size: small;
    color: white;
}

.titlecon {
    color: white;
    text-align: center;

}

.Container-skills {
    position: relative;
    margin: 10%;
}


.Cont-skills {
    padding: 1em;
    width: 98%;
    height: 100%;
    background-color: rgba(146, 4, 4, 0.15);
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titskills {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.list-skills {
    margin: 10%;
    padding: 5px;
    text-align: center;
}

.list-skills li {
    padding-left: 10%;
    font-size: 22px;
    color: white;
}

.list-skills h5 {
    font-size: 18px;
    padding-bottom: 20px;
    color: white;
}

.explab{
    position: relative;
    margin: 10%;
    
}

.titexp {
    text-align: center;
    font-size: 30px;
    padding: 2em;
    color: white
}
#div-exp{
    height: 100%;
}
.box-exp {
    margin: 5px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 100%;
    background-color: rgba(146, 4, 4, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exptit {
    font-size: 25px;
    text-align: center;
    padding: 1em;
    color: white;
}

.box-exp .rowtit {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: #d73838;
}

.empresatit {
    text-align: center;
    padding: 10px;
    color: white;
}

.textexp {
    height: 100%;
    color: white;
    text-align: justify;
    padding: 1em;
}

.listTareas {
    text-align: justify;
}

.listTareas li {
    padding-bottom: 1em;
    padding-right: 10%;
}

header{
    display: fixed;
    align-content: center;
    text-align: center;
}
#menu {
    position: relative;
}

#menu ul li{
   display: inline-block;
}
#menu ul li a {
    color: black;
    line-height: 60px;
    transition: .2s;
}

#menu ul li a:hover {
    background: #913636;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal_container {
    width: 90%;
    background-color: rgb(20, 20, 20);
    margin: auto;
    max-height: 90%;
    max-width: 600px;
    border-radius: 6px;
    padding: 2em 2.5em;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    color: #fff;
}

.modal_title {
    font-size: 2.5rem;
    color: #fff;
}

.modal_close {
    padding: 0.8em 1.8em;
    border: 2px solid #913636;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
}
.btnCont {
    text-align: center;
}
.modal_show {
    opacity: 1;
    pointer-events: unset;
}

.modal_close::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #d73838;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.modal_close:hover::before {
    width: 105%;
}

.modal_close {
    color: white;
}

.btnsend {
    padding: 0.8em 1.8em;
    border: 2px solid #913636;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
}
   